# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-electron
dist-renderer
release
release_app

# Local data
dev-data
*.db
*.sqlite
*.log

# Environment files
.env
.env.local
.env.*.local

# IDE / Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
*.bak
